@import "tailwindcss";

/* Custom colors */
@theme {
  --color-star: #e0e0e0;
  --color-eclipse-500: #111111;
  --color-eclipse-700: #0a0a0a;
  --color-command-300: #fff176;
  --color-command-400: #ffec4f;
  --color-command-500: #ffe81f;
  --color-command-700: #d4b400;
  --color-hyper-400: #589bff;
  --color-hyper-500: #2b7fff;
  --color-jump-400: #c366ff;
  --color-jump-500: #ad46ff;
  --color-jump-700: #7a00cc;

  --animate-jitter: jitter 0.3s infinite;

  @keyframes jitter {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-1px, 1px);
    }
    50% {
      transform: translate(1px, -1px);
    }
    75% {
      transform: translate(-1px, -1px);
    }
  }
}

@layer base {
  html {
    background-image: url("/stars-quick-ps-6CsREDPUK3Y-unsplash.jpg");
    @apply bg-cover bg-center bg-no-repeat bg-fixed bg-black min-h-screen max-w-screen overflow-x-hidden;
  }
  body {
    font-family: "Roboto", sans-serif;
    @apply text-star bg-none font-medium min-h-[inherit] max-w-[inherit] overflow-x-hidden;
  }

  a {
    @apply cursor-pointer text-hyper-500 hover:underline hover:text-hyper-400;
    &:visited {
      @apply text-jump-500 hover:text-jump-400;
    }
  }

  button,
  ._button {
    @apply cursor-pointer flex flex-row justify-start items-center gap-x-1 bg-eclipse-500 p-2 rounded-lg transition-all;
  }

  input[type="checkbox"] {
    @apply cursor-pointer size-5 accent-command-500;
  }

  * {
    /* scrollbar-width: thin; */
    scrollbar-color: var(--color-command-700) var(--color-eclipse-500);
  }
}
